body {
    background-color: #EEE;
}

.first{
	background-color:#FFDA64;
}

.demBackground{
	background-color: skyblue;
}

#graph .choice {
    float: left;
    font-family: arial;
    font-size: 1.5em;
    min-width: 200px;
    text-align: right;
    margin: 8px 5px;
}
#graph .bar {
    width: 0;
    height: 35px;
    background-color: red;
    margin: 5px;
    float: left;
}

.second{
	background-color: #ACB2B5;
}


#demGraph .choice {
    float: left;
    font-family: arial;
    font-size: 1.5em;
    min-width: 200px;
    text-align: right;
    margin: 8px 5px;
}
#demGraph .bar {
    width: 0;
    height: 35px;
    background-color: #132DB5;
    margin: 5px;
    float: left;
}

.logo {
  float: left;
  height: 75px;
  padding-right: 15px;
  padding-left: 35%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.headerContainer{
    height: 120px;
    width: auto;
    position: fixed;
    }

.header {
    background-color: #191919;
    width: auto;
    height: 150px;
    color: white; 
            }

